{% extends 'apps/base.html' %}

{% block title %} Create Teacher Page {% endblock %}

{% block content %}
    <h1>Register Teacher</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Name: </label>
        <input type="text" name="name" required>
        <br>
        <br>
        <label>Subjects: </label>
        {% for subject in subjects %}
            <input type="checkbox" name="subjects" value="{{subject.id}}"> {{subject.name}}
        {% endfor %}
        <br>
        <br>

        <label>Class Teacher:  </label>
        <select name="grade">
            <option value="">Select Grade</option>
            {% for grade in grades %}
                <option value="{{grade.id}}">{{grade.name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Register Student</button>
    </form>
{% endblock %}