{% extends 'apps/base.html' %}

{% block title %} Teacher Details Page {% endblock %}

{% block content %}
    <h1>Teacher's Details</h1>
    <ul>
        <li> <a href="{% url 'create-teacher' %}"><b>Register New Teacher</b></a></li>
        <li><a href="{% url 'admin-page' %}"><b>Go To Homepage</b></a></li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Subjects</th>
                <th>Class Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{teacher.name}}</td>
                <td>
                    <ul>
                        {% for subject in teacher.subject.all %}
                        <li>
                            {{subject.name}}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for grade in teacher.grade_set.all %}
                        <li>
                            {{grade.name}}
                        </li>
                        {% empty %}
                        <li>
                            No class assigned
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{% url 'update-teacher' teacher.id %}">Edit</a>
                    <a href="{% url 'delete-teacher' teacher.id %}">Delete</a>
                   
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No registered teachers yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}